    @import url("https://fonts.googleapis.com/css?family=Limelight");
    @import url("https://fonts.googleapis.com/css?family=Jura");
    p {
        text-align: center;
    }
    #app-title {
        font-size: 50px;
        font-family: 'Limelight';
        span{transition: color 0.3s ease;}
    }
    #app-title span:nth-child(1):hover{color:#f94144}
    #app-title   span:nth-child(2):hover{color:#f8961e}
    #app-title    span:nth-child(3):hover{color:#f9c74f}
    #app-title    span:nth-child(4):hover{color:#90be6d}
    #app-title    span:nth-child(5):hover{color:#43aa8b}
    #app-title    span:nth-child(6):hover{color:#577590}
    #app-title    span:nth-child(7):hover{color:#277da1}

            
        
    
    #sunrise,#sunset,#humidity-title,#wind-speed-title,#weather-condition,#temp-feelslike,#today,#city,#datetime{
        font-family: 'Jura';
        font-weight: bold;
    }
    div.search {
        position: relative;
        width: 1060px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;

    }
    input#searchcity {
        color: white;
        width: 100%;
        height: 60px;
        border-radius: 50px;
        border: none;
        background: rgba(0, 0, 0, 0.2);
        padding: 5px;
    }
    button.search-button {
        position: absolute;
        right:20px;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        width: 100px;
        height: 40px;
        border-radius: 50px;
        border: none;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50px;
    }
   
    
    body {
        background: linear-gradient(to bottom, #F8B195, #F67280, #C06C84,#6C5B7B,#355C7D);
    }
    body h1 {
        text-align: center;
        color: white;
    }
    #temperature {
        font-size: 90px;
        font-family: 'Limelight';
    }
    div.div1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        background: rgba(0,0,0,0.2);
        margin-top: 50px;
        width: 1060px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding: 30px;
        border-radius: 50px;
        box-sizing: border-box;
    }
    #main-info {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    }
    #icon-container {
        display: flex;
        flex-direction: column;
        width: 100px;
        height: 100px;
        margin-bottom: 150px;
    }
    .div1 p {
        text-align: left;
    }
    div.div1 .temperature {
        font-size: 50px;
        text-align: left;
    }
    div.div2 {
        color: white;
        background: rgba(0,0,0,0.2);
        width: 1060px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        gap: 5px;
        text-align: left;
        display: flex;
        height: 170px;
        justify-content: center;
        gap: 20px;
        border-radius: 50px;
    }
    div.div3{
        color: white;
        background: rgba(0,0,0,0.2);
        width: 1060px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        gap: 5px;
        text-align: left;
        display: flex;
        height: 170px;
        justify-content: center;
        gap: 20px;
        border-radius: 50px;

    }
    div.box1 {
        background: rgba(0,0,0,0.2);
        width: 500px;
        text-align: center;
        border: none;
        margin-top: 17px;
        border-radius: 50px;
        height: 80%;
    }
    div.box2 {
        text-align: center;
        margin-top: 17px;
        width: 500px;
        height: 80%;
        border:none;
        border-radius: 50px;
        background: rgba(0,0,0,0.2);
    }
    div.box3{
        background: rgba(0,0,0,0.2);
        width: 500px;
        text-align: center;
        border: none;
        margin-top: 17px;
        border-radius: 50px;
        height: 80%;
 }
div.box4{
    background: rgba(0,0,0,0.2);
        width: 500px;
        text-align: center;
        border: none;
        margin-top: 17px;
        border-radius: 50px;
        height: 80%;
}